@import url(https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap);

.mine-sweeper-play-container {
	width: 100%;
	height: 100vh;
	font-family: 'Press Start 2P', cursive;
	background-color: black;
	overflow-y: hidden;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

@media (max-width: 600px) {
	.mine-sweeper-play-container {
		height: 90vh;
	}
}
